body
{
background-size: cover;
}

.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
}

#start , #number_of_objects , #status
{
font-size: 20px;
}

canvas
{
border:2px solid white;
border-radius: 10px;
margin-top: 10px;
box-shadow: 5px 5px 5px grey;
}

.copy_right_footer {
    position: fixed;
    color: #f5f5f5;
    bottom: 0;
    width: 100%;
    background-color: #51565a;
    line-height: 3;
    text-align: center;
 }